@font-face {
    font-family: "IBM Plex Sans";
    src: url("/static/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 700;
    font-stretch: 75% 100%;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/static/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 700;
    font-stretch: 75% 100%;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

